/***************************/
/**********Grid*************/
/***************************/
.top {
    height: 10vh;
    background-color: bisque;
}

.mid {
    height: 50vh;
    background-color: burlywood;
}

.bottom {
    height: 50vh;
    text-align: center;
    background-color: cyan;
}

.secondTop {
    height: 50vh;
    background-color: burlywood;
}

/***************************/
/*********Mountains*********/
/***************************/
.firstMountain {
    margin: auto;
    margin-top: 10vh;
}

.secondMountain {
    margin: auto;
    margin-top: 10vh;
}

.thirdMountain {
    margin: auto;
    margin-top: 10vh;
}