/***************************/
/**********Grid*************/
/***************************/
.top {
    height: 10vh;
    background-color: bisque;
}

.mid {
    height: 60vh;
    background-color: burlywood;
}

.bottom {
    height: 50vh;
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: cyan;
}

.secondTop {
    height: 50vh;
    background-color: burlywood;
}

/***************************/
/*********Mountains*********/
/***************************/
.firstMountain {
    margin: auto;
    margin-top: 15vh;
    margin-left: 65%;
    animation-name: mountainDrop;
    animation-duration: 3s;
    animation-timing-function: linear;
    
}

.secondMountain {
    margin: auto;
    margin-top: 5vh;
    /* margin-left: 5%; */
    animation-name: mountainDrop;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.thirdMountain {
    margin: auto;
    margin-left: -60%;
    margin-top: 15vh;
    animation-name: mountainDrop;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes mountainDrop {
    0%   {
        margin-top: -50px;
    }
    50%  {
        margin-top: 50px;
    }
    100% {
    }
}