/***************************/
/**********Grid*************/
/***************************/
.topLogo {
    height: 120px;
    background-color:#e0ebe8;
}  

.cloudLeft {
    width: 150px;
    height: 150px;
    position: absolute;
    margin: auto;
    top: 150x;
    left: 20vw;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0.9;
}

.cloudRight {
    width: 150px;
    height: 150px;
    position: absolute;
    margin: auto;
    top: -180px;
    left: -20vw;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

.bottom {
    height: 300px;
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: #e0ebe8;
}

.secondTop {
    height: 1100px;
}

@media only screen and (max-width: 600px) {
    .secondTop {
        height: 1300px;
    }
}

.footer {
    height: 120px;
    background-color:#e0ebe8;
}

/***************************/
/*********Mountains*********/
/***************************/
.firstMountain {
    margin: auto;
    margin-top: 100px;
    margin-left: 65%;
    animation-name: mountainDrop;
    animation-duration: 3s;
    animation-timing-function: linear;
    
}

.secondMountain {
    margin: auto;
    margin-top: 50px;
    /* margin-left: 5%; */
    animation-name: mountainDrop;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.thirdMountain {
    margin: auto;
    margin-left: -60%;
    margin-top: 100px;
    animation-name: mountainDrop;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes mountainDrop {
    0%   {
        margin-top: 0px;
    }
    50%  {
        margin-top: 50px;
    }
    100% {
    }
}

/***************************/
/*********Center text*********/
/***************************/

.centerPiece {
    width: 215px;
    height: 150px;
    position: absolute;
    margin: auto;
    top: 75px;
    left: -12px;
    right: 0;
    bottom: 0;
} 

.typewriter p {
    color: rgb(50, 138, 118);
    font-size: 2em;
    font-family: 'Jura', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(69, 178, 154); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4s steps(50, end) infinite,
      blink-caret 0.5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(69, 178, 154) }
  }
