
.square {
    width: 60%;
    height: 100%;
    background-color: #45b29a;
    line-height: 10em;
    text-align: center;
    color: #FFF;
    margin: auto;
    font-size: 1.2em;
    font-weight: 600;
}

.square.x-axis {
    animation: x-axis-animation 1s ease-in-out 0s infinite alternate;
}

@keyframes x-axis-animation {
    from {
        transform: translateX(35%)
    }
    to {
        transform: translateX(-35%)
    }
}

.square.y-axis {
    animation: y-axis-animation 0.5s ease-in-out 0s infinite alternate;
}

@keyframes y-axis-animation {
    from {
        transform: translateY(1.3em)
    }
    to {
        transform: translateY(-1.3em)
    }
}

.square.z-axis {
    animation: z-axis-animation 1s ease-in-out 0s infinite alternate;
}



@keyframes z-axis-animation {
    from {
        transform: translateZ(1.5em)
    }
    to {
        transform: translateZ(-1.5em)
    }
}