.linkStyle {
    padding-right: 4vw;
    color:rgb(50, 138, 118);
    font-size: 1.2em;
    text-decoration: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  @media only screen and (max-width: 600px) {
    .linkStyle {
        padding-right: 8vw;
        font-size: 1.3em;
    }
}

.linkStyle:hover {
    color:rgb(146, 151, 150);
}